body{
    height:auto;font-family: "Microsoft YaHei",serif;
}
button{
    font-family: "SimSun","Helvetica Neue",Helvetica,Arial,serif;
}
.treeShowHideButton {
    position: absolute;
    right: 8px;
    top: 2px;
    font-size: 12px;
    color: #333;
    z-index: 3;
}

.treeSearchInput {
    padding: 13px 0 0 20px;
}

.ztree {
    padding-left: 30px;
}