<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ycl.system.mapper.SysMenuMapper">
    <resultMap id="SysMenuResult" type="cn.ycl.system.domain.SysMenu">
        <id     property="menuId"         column="menu_id"        />
        <result property="menuName"       column="menu_name"      />
        <result property="parentName"     column="parent_name"    />
        <result property="parentId"       column="parent_id"      />
        <result property="orderNum"       column="order_num"      />
        <result property="url"            column="url"            />
        <result property="menuType"       column="menu_type"      />
        <result property="visible"        column="visible"        />
        <result property="icon"           column="icon"           />
        <result property="createBy"       column="create_by"      />
        <result property="createTime"     column="create_time"    />
        <result property="updateTime"     column="update_time"    />
        <result property="updateBy"       column="update_by"      />
        <result property="remark"         column="remark"         />
    </resultMap>

    <sql id="selectMenuVo">
        select menu_id, menu_name, parent_id, order_num, url , menu_type, visible, icon, create_by, create_time
        from sys_menu
    </sql>

    <select id="checkMenuNameUnique" parameterType="cn.ycl.system.domain.SysMenu" resultMap="SysMenuResult">
        <include refid="selectMenuVo"/>
        where menu_name=#{menuName} and parent_id=#{parentId} limit 1
    </select>

    <select id="selectMenuList" parameterType="cn.ycl.system.domain.SysMenu" resultMap="SysMenuResult">
        <include refid="selectMenuVo"/>
        <where>
            <if test="menuName != null and menuName != ''">
                AND menu_name like concat('%', #{menuName}, '%')
            </if>
            <if test="visible != null and visible != ''">
                AND visible = #{visible}
            </if>
        </where>
        order by parent_id, order_num
    </select>


    <select id="selectMenuListByUserId" parameterType="cn.ycl.system.domain.SysMenu" resultMap="SysMenuResult">
        select distinct m.menu_id, m.parent_id, m.menu_name, m.url, m.visible, m.menu_type, m.icon, m.order_num, m.create_time
        from sys_menu m
        <!--LEFT JOIN sys_role ro on ur.role_id = ro.role_id
        where ur.user_id = #{params.userId}
        <if test="menuName != null and menuName != ''">
            AND m.menu_name like concat('%', #{menuName}, '%')
        </if>
        <if test="visible != null and visible != ''">
            AND m.visible = #{visible}
        </if>-->
        order by m.parent_id, m.order_num

    </select>
</mapper>